# Official Token Verification

### GitHub Account:
https://github.com/wlakos

### Developer X Account:
https://x.com/wlakos_official

### Official Solana Token Address:
FLCZBRXSHcaRExB9dFgPDyjJWM1Angbr6z8sCqRxZeXs

### Statement:
I publicly declare that this GitHub account (wlakos) is officially associated with and maintains the MEMEX Solana token contract:
FLCZBRXSHcaRExB9dFgPDyjJWM1Angbr6z8sCqRxZeXs
