# Official MEMEX ($MEMEX) Token Verification

### Project Name:
MEMEX DEX (Solana Ecosystem)

### GitHub Account:
https://github.com

### Developer X (Twitter) Account:
https://x.com

### Official Solana Token Address (CA):
FLCZBRXSHcaRExB9dFgPDyjJWM1Angbr6z8sCqRxZeXs

### Statement:
I publicly declare that this GitHub account (wlakos) is officially associated with and maintains the MEMEX ($MEMEX) Solana token contract:
FLCZBRXSHcaRExB9dFgPDyjJWM1Angbr6z8sCqRxZeXs
